#navBarDiv {
    width: 60%;
}
.navbar {
    position: relative;
}
#showPhoto {
    width: 80%;
}
a {
    text-decoration: none;
    color: black;
}
#listOfSearchedShows {
    overflow: visible;
    width: 300px;
    position: absolute;
}

